<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="killapplication" version="1.0.0">
    <name>killapplication</name>
    <description>Cordova killapplication Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>
    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Killapplication">
                <param name="android-package" value="com.oceanex.Killapplication"/>
            </feature>
        </config-file>

        <source-file src="src/android/killapplication.java" target-dir="src/com/oceanex/killapplication/" />
    </platform>

    <js-module src="www/killapplication.js" name="killapplication">
        <clobbers target="navigator.app" />
        <merges target="navigator.app" />
    </js-module>



</plugin>